snippet ready
	$(function(){
		${1}
	});
snippet chenfajs
	// +----------------------------------------------------------------------
	// | chenfademo
	// +----------------------------------------------------------------------
	// | 版权所有 2019~2020 陈发
	// +----------------------------------------------------------------------
	// | 联系qq: 	( 314419183 )
	// +----------------------------------------------------------------------
	// | 联系电话： ( 17784233703 )
	// +----------------------------------------------------------------------
